In [1]:
import pandas as pd
import numpy as np
import xlrd
import os
import re
from ddf_utils.str import to_concept_id
from ddf_utils.index import create_index_file

/usr/local/lib/python3.5/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [2]:
pd.set_option('max_row', 20)

* Gapminder Documentation 001 – GDP per Capita by Purchasing Power Parities
* Gapminder Documentation 002 – Infant Mortality Rate
* Gapminder Documentation 003 – Total Population
* Gapminder Documentation 004 – Life Expectancy at Birth
* Gapminder Documentation 005 – Under-five mortality rate
* Gapminder Documentation 007 – GDP per capita by PPP for sub-national units
* Gapminder Documentation 008 – Children per woman (total fertility)

In [3]:
xlrd.open_workbook('source/gapdata003 version 3.xlsx').sheet_names()

['Information', 'Data']

In [4]:
data001 = pd.read_excel('source/gapdata003 version 3.xlsx', sheetname='Data')

In [5]:
data001.head()

,Area,Year,Population,Population with interpolations,Source,source - details (col 1),source details (col 2),Available on-line,Type of primary data,Data footnote,...,Gapminder modifications - explanations col. 2,Other notes by gapminder (col 1).,Other notes by gapminder (col 2).,Geographical coverage (col 1),Geographical coverage (col 2),Secondary layer of sources (col 1),Secondary layer of sources (col 2),Tertiary layer of sources (col 1),Tertiary layer of sources (col 2),Tertiary layer of sources (col 3)
0,Abkhazia,1491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Abkhazia,1555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abkhazia,1575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Abkhazia,1600,NaN,NaN,No data,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Abkhazia,1601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
area = data001['Area'].unique()

In [7]:
area_id = list(map(to_concept_id, area))

In [8]:
ent = pd.DataFrame([], columns=['area', 'name'])

In [9]:
ent['area'] = area_id
ent['name'] = area

In [10]:
ent.to_csv('../ddf--entities--area.csv', index=False)

In [12]:
data001_dp_1 = data001[['Area', 'Year', 'Population']].copy()
data001_dp_2 = data001[['Area', 'Year', 'Population with interpolations']].copy()

In [11]:
to_concept_id('Total Population with interpolations')

'total_population_with_interpolations'

In [13]:
data001_dp_1.columns = ['area', 'year', 'total_population']
data001_dp_2.columns = ['area', 'year', 'total_population_with_interpolations']

In [14]:
data001_dp_1['area'] = data001_dp_1['area'].map(to_concept_id)
data001_dp_2['area'] = data001_dp_2['area'].map(to_concept_id)

In [15]:
data001_dp_1.dropna().sort_values(by=['area', 'year']).to_csv('../ddf--datapoints--total_population--by--area--year.csv', index=False)

In [16]:
data001_dp_2.dropna().sort_values(by=['area', 'year']).to_csv('../ddf--datapoints--total_population_with_interpolations--by--area--year.csv', index=False)

In [17]:
conc = ['total_population', 'total_population_with_interpolations', 'area', 'year', 'name']

In [18]:
cdf = pd.DataFrame([], columns=['concept', 'name', 'concept_type'])

In [19]:
cdf['concept'] = conc
cdf['name'] = ['Total Population', 'Total Population with interpolations', 'Area', 'Year', 'Name']
cdf['concept_type'] = ['measure', 'measure', 'entity_domain', 'time', 'string']

In [20]:
cdf.to_csv('../ddf--concepts.csv', index=False)

In [21]:
create_index_file('../')

,key,value,file
0,concept,name,ddf--concepts.csv
1,concept,concept_type,ddf--concepts.csv
0,"area,year",total_population,ddf--datapoints--total_population--by--area--y...
0,"area,year",total_population_with_interpolations,ddf--datapoints--total_population_with_interpo...
0,area,name,ddf--entities--area.csv

10530.0